.lnr-layers,
.lnr-store,
.lnr-chart-bars,
.lnr-cog,
.lnr-laptop-phone,
.lnr-select,
.lnr-flag,
.lnr-rocket {
    color: #00B9E8;
    font-size: 76px;
}

.lnr-history,
.lnr-envelope,
.lnr-earth {
    font-size: 36px;
    font-weight: bold;
}


/* loader */


/* nav */

@keyframes movedown {
    0% {
        transform: translateY(-50px);
        visibility: visible;
    }
    100% {
        transform: translateY(0);
        visibility: visible;
    }
}

.wrapper {
    position: fixed;
    background: #ffffff;
    width: 100%;
    z-index: 99999;
    animation: movedown 1s linear 1;
    animation-fill-mode: forwards;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 3px 0px;
}

.wrapper nav {
    position: relative;
    display: flex;
    margin: auto !important;
    max-width: calc(100%);
    height: 70px;
    align-items: center;
    justify-content: space-around;
}

nav .cont {
    display: flex;
    align-items: center;
}

nav .cont .links {
    margin-left: 300px;
    display: flex;
}

.cont .logo {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    margin-left: -4%;
}

.extra {
    margin-bottom: 10px !important;
}

.cont .links li {
    list-style: none;
    line-height: 70px;
}

.cont .links li .hvr,
.cont .links li label {
    text-decoration: none;
    display: inline-block;
    position: relative;
}

.cont .links li .hvr:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 20px;
    left: 0;
    background-color: #007DB7;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.cont .links li label:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 10px;
    left: 0;
    background-color: #007DB7;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.cont .links li .hvr:hover:after,
.cont .links li label:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.cont .links li a,
.cont .links li label {
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 500;
    margin: 9px 17px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.cont .links li a:hover {
    color: #00B9E8 !important;
}

.cont .links li label {
    display: none;
}

.wrapper .search-icon,
.wrapper .menu-icon {
    color: #00B9E8;
    font-size: 28px;
    cursor: pointer;
    line-height: 70px;
    width: 70px;
    text-align: center;
}

.wrapper .menu-icon {
    display: none;
}

.wrapper #show-search:checked~.search-icon i::before {
    content: "\f00d";
}

.wrapper .search-box {
    position: absolute;
    height: 100%;
    max-width: calc(100% - 50px);
    width: 85%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.wrapper #show-search:checked~.search-box {
    opacity: 1;
    pointer-events: auto;
}

.search-box input {
    width: 100%;
    height: 100%;
    border: none;
    margin-left: 10%;
    border-radius: 40px;
    outline: none;
    font-size: 17px;
    color: rgb(0, 0, 0);
    background: #ffffff;
    padding: 0 100px 0 15px;
}

.search-box input::placeholder {
    color: #000000;
}

.search-box .go-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    line-height: 60px;
    width: 70px;
    background: none;
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    font-size: 20px;
    cursor: pointer;
}

.wrapper input[type="checkbox"] {
    display: none;
}


/* Dropdown Menu code start */

.cont .links ul {
    position: absolute;
    background: #f1f1f1;
    top: 80px;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
}

.cont .links li:hover>ul {
    top: 70px;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease;
}

.cont .links ul li a {
    display: block;
    width: 100%;
    line-height: 30px;
    border-radius: 0px!important;
}

.cont .links ul ul {
    position: absolute;
    top: 0;
    right: calc(-100% + 8px);
}

.cont .links ul li {
    position: relative;
}

.cont .links ul li:hover ul {
    top: 0;
}


/* Responsive code start */

@media screen and (max-width: 1250px) {
    .wrapper nav {
        max-width: 100%;
        padding: 0 20px;
    }
    .wrapper {
        animation: none;
    }
    nav .cont .links {
        margin-left: 30px;
    }
    .cont .links li a {
        padding: 8px 13px;
    }
    .wrapper .search-box {
        width: 75% !important;
        max-width: calc(100% - 100px);
    }
    .wrapper .search-box input {
        padding: 0 100px 0 15px;
    }
}

@media screen and (max-width: 900px) {
    .wrapper .menu-icon {
        display: block;
        color: #000000;
    }
    .wrapper #show-menu:checked~.menu-icon i::before {
        content: "\f00d";
    }
    nav .cont .links {
        display: block;
        position: fixed;
        background: #14181f;
        height: 100%;
        width: 100%;
        top: 70px;
        left: -100%;
        margin-left: 0;
        color: #fff;
        max-width: 350px;
        overflow-y: auto;
        padding-bottom: 100px;
        transition: all 0.3s ease;
    }
    nav #show-menu:checked~.cont .links {
        left: 0%;
    }
    .cont .links li {
        margin: 15px 20px;
    }
    .cont .links li a,
    .cont .links li label {
        line-height: 40px;
        font-size: 20px;
        display: block;
        padding: 8px 18px;
        cursor: pointer;
    }
    .cont .links li a .desktop-link {
        display: none;
    }
    /* dropdown responsive code start */
    .cont .links ul,
    .cont .links ul ul {
        position: static;
        opacity: 1;
        visibility: visible;
        background: none;
        max-height: 0px;
        overflow: hidden;
    }
    .cont .links #show-features:checked~ul,
    .cont .links #show-services:checked~ul,
    .cont .links #show-items:checked~ul {
        max-height: 100vh;
    }
    .cont .links li a,
    .cont .links li label {
        color: rgb(255, 255, 255);
        font-size: 18px;
        font-weight: 500;
        padding: 9px 17px;
        border-radius: 5px;
        transition: all 0.3s ease;
    }
    .cont .links li .hvr:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 10px;
        left: 0;
        background-color: #007DB7;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }
    .cont .links ul li {
        margin: 7px 20px;
    }
    .cont .links ul li a {
        font-size: 18px;
        line-height: 30px;
        border-radius: 5px!important;
    }
}

@media screen and (max-width: 767px) {
    .wrapper nav {
        padding: 0 0px;
        justify-content: space-between !important;
    }
    .cont .logo a {
        font-size: 27px;
    }
    .wrapper .search-box {
        width: 65% !important;
        max-width: calc(100% - 70px);
    }
    .wrapper .search-box .go-icon {
        font-size: 20px !important;
        margin-right: -30% !important;
    }
    .wrapper .menu-icon {
        color: #202020 !important;
    }
    .cont .links li a,
    .cont .links li label {
        color: rgb(255, 255, 255) !important;
        font-size: 18px;
        font-weight: 500;
        margin: 9px 17px !important;
        border-radius: 5px;
        transition: all 0.3s ease;
    }
    .wrapper .search-box input {
        padding-right: 30px;
        font-size: 14px !important;
    }
    .cont .links li .hvr:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 10px;
        left: 0;
        background-color: #007DB7;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }
    .cont .links li a .desktop-link {
        display: none;
    }
    .cont .links li a .arrw {
        margin-top: -100% !important;
    }
    .enquiry {
        height: 135% !important;
        width: 75%;
        margin: auto;
        margin-top: -60% !important;
        margin-bottom: -60% !important;
    }
    .enquiry-form {
        margin-top: -10% !important;
    }
    .address {
        margin-top: -40% !important;
    }
    .slider {
        width: 500px !important;
        height: 140px;
        position: relative;
        background: #ffffff;
        box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.2);
        display: flex;
        overflow: hidden;
    }
    .slide {
        height: 140px;
        display: flex;
        align-items: center;
        animation: slideshow 20s linear infinite;
    }
    .slide img {
        width: 50%;
        height: 70px;
        padding: 0 30px 0 30px;
    }
    @keyframes slideshow {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-100%);
        }
    }
    .slider::before,
    .slider::after {
        height: 100px;
        width: 200px;
        position: absolute;
        content: "";
        z-index: 2;
    }
    .slider::before {
        left: 0;
        top: 0;
    }
    .slider::after {
        right: 0;
        top: 0;
        transform: rotateZ(180deg);
    }
}

.enquiry {
    width: 75%;
    margin: auto;
    margin-bottom: -40% !important;
}

#content img {
    z-index: -1 !important;
}

.wraper {
    width: 100vw;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider {
    width: 1124px;
    height: 140px;
    position: relative;
    background: #ffffff;
    box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.2);
    display: flex;
    overflow: hidden;
}

.slide {
    height: 140px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* animation: slideshow 20s linear infinite;*/
}

.slide img {
    margin-right: 5%;
    width: 100%;
    height: 65%;
    padding: 0 30px 0 30px;
}

@keyframes slideshow {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.slider::before,
.slider::after {
    height: 100px;
    width: 200px;
    position: absolute;
    content: "";
    z-index: 2;
}

.slider::before {
    left: 0;
    top: 0;
}

.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}


/* testimonials */

.test {
    position: relative;
    width: 100%;
    min-height: 86vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1a1a1a;
    overflow: hidden;
}

.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 380px;
    border-radius: 10px;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
    background-color: #fff !important;
    filter: blur(2px);
}

.swiper-slide-active {
    filter: blur(0px);
}

.testimonialBox {
    position: relative;
    width: 100%;
    height: auto;
    padding: 40px;
    padding-top: 70px;
    color: #555;
}

.testimonialBox .quote {
    position: absolute;
    top: 20px;
    right: 30px;
    opacity: .3;
}

.testimonialBox .details {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.testimonialBox .details .cimg {
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.testimonialBox .details .cimg img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.testimonialBox .details h3 {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #14181f;
    line-height: 1.2em;
}

.testimonialBox .details h3 span {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #007DB7;
    line-height: 1.2em;
}

.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right {
    background-image: none !important;
}

.bgslide {
    overflow: hidden;
}

.bgslide .bgs {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 40s slide infinite;
}

.bgslide .bgs section {
    width: 20%;
    background-size: cover !important;
    float: left;
}

@keyframes slide {
    0% {
        left: 0;
    }
    20% {
        left: 0;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -300%;
    }
    95% {
        left: -300%;
    }
    100% {
        left: -400%;
    }
}


/* Glider */

.light {
    color: white !important;
}

.dark {
    color: black !important;
}

.logo {
    transform-style: preserve-3d;
    transition: 1s;
    perspective: 1000px;
}

.logo:hover {
    transform: rotatex(360deg);
}


/* Popup 

.modal {
    display: none;

position: fixed;


z-index: 1;


padding-top: 100px;


left: -20;
top: -70;
width: 100%;



overflow-x: hidden;


background-color: rgb(0, 0, 0);


background-color: rgba(0, 0, 0, 0.4);



}

.modal-content {
    background-color: #fefefe;
    margin: 0;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #131313;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 4px 16px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #00B9E8;
    color: rgb(0, 0, 0);
}

.modal-body {
    padding: 0px 16px;
    color: #000;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin-right: 10%;
    margin-left: 10%;
    padding: 0;
    border: 1px solid #888;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}
@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    
    to {
        top: 0;
        opacity: 1
    }
}
*/